Q1. Create one variable containing following type of data:

In [2]:
a1 = "name"
print(type(a1))

a2 = [1, 2, 3, 4]
print(type(a2))

a3 = 3.14
print(type(a3))

a4 = (1, 2)
print(type(a4))

<class 'str'>
<class 'list'>
<class 'float'>
<class 'tuple'>

Q2. Given are some following variables containing data:

(i) var1 = ‘ ‘
=> string

(ii) var2 = ‘[ DS , ML , Python]’
=> string

(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
=> list

(iv) var4 = 1.
=> float

Q3. Explain the use of the following operators using an example:

(i) / => division
Ex: 3/2 => 1.5

(ii) % => modulus/remainder Ex: 3%2 = 1

(iii) // => floor division Ex: 3//2 = 1

(iv) ** => power operator Ex: 3**2 = 9

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [11]:
list1 = [1, 2, "ABC", 3.14, 2+4j, "str", True, [10, 20], (10, 30), 43]
print(len(list1))
print("--------------------------")
for item in list1:
    print(f"{item} => {type(item)}")

10
--------------------------
1 => <class 'int'>
2 => <class 'int'>
ABC => <class 'str'>
3.14 => <class 'float'>
(2+4j) => <class 'complex'>
str => <class 'str'>
True => <class 'bool'>
[10, 20] => <class 'list'>
(10, 30) => <class 'tuple'>
43 => <class 'int'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [17]:
A = int(input("Enter first number"))
B = int(input("Enter second number"))
count = 0

if (A % B) == 0:
    temp = A
    while (temp % B) == 0:
        temp = temp / B
        count += 1
    print(f"{A} is divisble by {B} => {count} times")
else:
    print(f"{A} is not purely divisible by {B}")

Enter first number 16
Enter second number 2

16 is divisble by 2 => 4 times

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [19]:
l1 = [i for i in range(25)]
print(l1)

for i in range(len(l1)):
    if (i % 3) == 0:
        print(f"{i} is divisible by 3")
    else:
        print(f"{i} is not divisible by 3")

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24]
0 is divisible by 3
1 is not divisible by 3
2 is not divisible by 3
3 is divisible by 3
4 is not divisible by 3
5 is not divisible by 3
6 is divisible by 3
7 is not divisible by 3
8 is not divisible by 3
9 is divisible by 3
10 is not divisible by 3
11 is not divisible by 3
12 is divisible by 3
13 is not divisible by 3
14 is not divisible by 3
15 is divisible by 3
16 is not divisible by 3
17 is not divisible by 3
18 is divisible by 3
19 is not divisible by 3
20 is not divisible by 3
21 is divisible by 3
22 is not divisible by 3
23 is not divisible by 3
24 is divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

Mutable data types are those whose existing data can be changed.
Ex: list

Immutable data types are those whose existing data cannot be changed but are iterable.
Ex: string, tuple